<!DOCTYPE html>
<html>
<head>
    <title>To-Do App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h1>📝 To-Do List</h1>

    <!-- Add Task -->
    <form action="/add" method="POST">
        <input type="text" name="task" placeholder="Enter a task..." required>
        <button type="submit">Add</button>
    </form>

    <div class="buttons">
        <button onclick="filterTasks('all')">All</button>
        <button onclick="filterTasks('pending')">Pending</button>
        <button onclick="filterTasks('completed')">Completed</button>
    </div>
    <!-- Task List -->
    <ul>
        {% for task in tasks %}
        <li class="{% if task.done %}done{% endif %}">
            
            <span>{{ task.task }}</span>

            <div>
                <a href="/complete/{{ loop.index0 }}">✔</a>
                <a href="/delete/{{ loop.index0 }}">❌</a>
            </div>
           
        </li>
        {% endfor %}
    </ul>
    <h2>Pending Tasks</h2>
    <ul>
        {% for task in tasks %}
        {% if not task.done %}
        <li>
            <span>{{ task.task }}</span>

            <div>
                <a href="/complete/{{ loop.index0 }}">✔</a>
                <a href="/delete/{{ loop.index0 }}">❌</a>
            </div>
        </li>
        {% endif %}
        {% endfor %}
    </ul>

    <h2>Completed Tasks</h2>
    <ul>
        {% for task in tasks %}
            {% if task.done %}
            <li class="done">
                <span>{{ task.task }}</span>

                <div>
                    <a href="/complete/{{ loop.index0 }}">↩</a>
                    <a href="/delete/{{ loop.index0 }}">❌</a>
                </div>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>

</body>
</html>